{% extends "blog/base.html" %}

{% block content %}
  <h1>Click on the zodiac sign to check which famous person has this sign: </h1>
  <table class="table table-striped">
    <tr>
      <th class="font-monospace">Order</th>
      <th class="font-monospace">Name</th>
    </tr>
      {% for sign in zodiac_sign_list %}
    <tr>
      <td class="font-monospace">{{ sign.sign_id }}</td>
      <td><a href="{% url 'get_zodiac_sign' sign.sign_id %}" class="font-monospace">{{ sign.name }}</a></td>
    </tr>
      {% endfor %}
  </table>

  <a href="{% url 'create_new_famous_person' %}" class="btn btn-primary btn-lg mb-3">Didn't found a famous person? Click here to add a new one!</a>
{% endblock %}
